body.site.index
  .container.site
    cnt()
    bt 1px solid hsl(204,2,88)
    bg m242
    box-shadow b15 0 0 1em
    border-radius 20px

    header.section
      ta center
      p 50px 100px 36px
      h1
        f bold 34px/2 sans
        c #000
        bb 2px solid m214
        
    .content
      form
        ta center

        ul.fields

          li.field
            f 26px/2.5 sans
            c m68

            a
              td underline
              ff serif
              fs italic
              aa()
            &.submit
              p 1em 0 50px
              input
                display inline-block
                border-radius 14px
                p 17px 0
                w 200px
                bg hsl(217,97,64)
                border none
                f bold 24px/1 sans
                ta center
                tt uppercase
                font-smoothing()
                c #fff
                text-shadow b50 1px 1px .2em
